<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Upload de Documentos - EduPortal</title>
    
    
    <!-- Link para o Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

</head>
<body>
    <!-- Tela de  -->
    <div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #004A8D; position: relative;">
        <!-- Card -->
        <div class="card p-4 shadow position-relative" style="width: 100%; max-width: 400px; border-radius: 10px;">
            <!-- Botão para voltar -->
            <a href="{{ url_for('portal_estudante') }}" class="btn-close position-absolute top-0 end-0 m-3" 
               style="background-color: #f8f9fa; padding: 10px; border-radius: 50%; display: flex; justify-content: center; align-items: center; border: 2px solid #004A8D; width: 40px; height: 40px;" 
               aria-label="Voltar"></a>

            <!-- Logo do EduPortal -->
            <h2 class="text-center mb-4" style="color: #004A8D; font-family: 'Arial', sans-serif; font-weight: bold;">
                Edu<span style="color: #FF7A00;">Portal</span>
            </h2>
            <div class="form-container">
                <h4>Envie os seguintes documentos:</h4>
                <form action="{{ url_for('upload', user_id=user_id) }}" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="frente_bilhete" class="form-label">Frente do Bilhete</label>
                        <input type="file" class="form-control" id="frente_bilhete" name="frente_bilhete" required>
                    </div>
                    <div class="mb-3">
                        <label for="verso_bilhete" class="form-label">Verso do Bilhete</label>
                        <input type="file" class="form-control" id="verso_bilhete" name="verso_bilhete" required>
                    </div>
                    <div class="mb-3">
                        <label for="certificado" class="form-label">Certificado</label>
                        <input type="file" class="form-control" id="certificado" name="certificado" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Enviar Arquivos</button>
                </form>
            </div> 
        </div>
    </div>
    {% include "modal.html" %}
             
        

    <!-- Script Bootstrap -->
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Script Bootstrap
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script> -->
    
</body>
</html>